@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MatterRegular";
  font-weight: 400;
  src: url(./assets/fonts/Matter-Regular.ttf);
}
@font-face {
  font-family: "MatterBold";
  font-weight: 700;
  src: url(./assets/fonts/Matter-Bold.ttf);
}